html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-image: url("./assets/bosch-colors.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  border: 1px solid white;
  border-radius: 10px;
  width: 70%;
  height: 70vh;
  backdrop-filter: blur(10px);
  padding: 20px;
}

.Text {
  height: 80%;
  overflow: auto;
  padding-bottom: 20px;
  font-size: 1rem;
}

.Heading {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  line-height: 1.5;
  vertical-align: middle;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
  align-content: center;

  margin: 10px;
  padding: 10px 0 10px 0 !important;
  overflow: hidden !important;
  background-color: #333;
}
.LinkContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  vertical-align: middle !important;
  font-size: 20px;
}
.LinkContainer a {
  color: rgb(132, 187, 132);
}
.LinkContainer a:hover {
  color: rgb(231, 238, 231);
}
.SelfAlignRight {
  float: right;
}
.userForm {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  vertical-align: middle !important;
  align-content: center !important;
  margin: 0 !important;
  padding: 0 !important;
}
.field {
  width: 100% !important;
}
.usersContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(124, 121, 121, 0.7); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
.close {
  border: 0;
  color: #8a8a8a;
  float: right;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
